body{
    margin: 0 auto ;
}

img{
    max-width: 100%;
    height: auto;
}


/***********
    HEADER
************/

header {
    height: 4em;
    background-color: black;
    width: 100%;
    margin-top: 0;
    padding: 1em 0;
}

p{
    text-align: justify;
}

.navigation{
    text-align: center;

}

.navigation li {
    display: inline-block;
    font-family: serif;
    font-size: 1.5em;
    font-weight: 700;
}

.navigation ul{
    display: flex;
    justify-content: space-around;
}

.navigation a{
    text-decoration: none;
    color: white;
}

.navigation a:hover{
    text-shadow: 2px 2px red;
    border-bottom: 2px solid white;
}

nav{
    display: flex;
    justify-content: space-between;
}

.theMenu{
    width: 60%;
}

.loginMenu{
    width: 25%;
}


/***********
    FOOTER
************/

footer{
    height: 3em;
    background-color: black;
    margin-top: 2em;
}

.footerText{
    text-align: center;
    color: white;
}

.footerText h2{
    margin-top: 10px;

}


main{
    margin: auto;
    width: 90%;
}

.text{
    display: flex;
    justify-content: space-between;
}

aside{
    margin-top: 1em;
}

aside img{
    width: 100%;
}

article{
    width: 48%;
    margin-top: 1em;
    height: auto;
    background-color: #F0EFED;
    border-radius: 10px;
    font-family: serif;
    font-size: 1.1em;
}

article p,
article h1{
    margin: 0.7em;
}

.aboutMe{
    text-align: center;
    padding: 5em 0 3em 0;
}

.myImg img{
    border-radius: 20px;
    margin-bottom: 4em;
}

.myInfo{
    margin-bottom: 2em;
    font-size: 1.2em;

}

.myInfo p{
    text-align: center;
}

.springImg,
.summerImg{
    text-align: center;
    padding-top: 1em;

}

.springText h2,
.summerText h2{
    margin-top: 0;
    padding-top: 3em;
    text-align: center;
}




/********************

*media queries

*********************/

@media screen and (min-width: 900px) {

    .springImg img,
    .summerImg img{
        width: 49.5%;
    }

}

@media screen and (max-width: 900px) {

    .text{
        flex-flow: column;
    }
    .prvy{
        width: 100%;
    }

}

@media screen and (max-width: 695px) {

    .navigation li {
        font-size: 0.95em;
    }

}




