*{
    font-family: 'Lato', serif;
}

body{
    margin: 0 auto ;
}

img{
    max-width: 100%;
    height: auto;
}

button:hover{
    cursor: pointer;
}

/***********
    HEADER
************/

header {
    background-color: black;
    width: 100%;
    margin-top: 0;
    padding: 1em 0;
}

p{
    text-align: justify;
}

.navigation{
    text-align: center;

}

.navigation li {
    display: inline-block;
    font-family: serif;
    font-size: 1.5em;
    font-weight: 700;
}

.navigation ul{
    display: flex;
    justify-content: space-around;
}

.navigation a{
    text-decoration: none;
    color: white;
}

.navigation a:hover{
    text-shadow: 2px 2px red;
    border-bottom: 2px solid white;
}

nav{
    display: flex;
    justify-content: space-between;
}

.theMenu{
    width: 60%;
}

.loginMenu{
    width: 25%;
}


/***********
    FOOTER
************/

footer{
    height: 4em;
    background-color: black;
    margin-top: 2em;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border: black 1px solid;
}

/******************
    LOGIN/SIGNUP
*******************/

.logIn h2,
.signUp h2,
.editProfile h2{
    text-align: center;
}

.logInContainer{
    padding: 3em;
    background-color: lightgray;
    border-radius: 0.6em;
}

.logIn button,
.signUp button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 1em 1.5em;
    border-radius: 0.3em;
}

.logIn button:hover,
.signUp button:hover{
    background-color: #156717;
}

.contentWrapper{
    min-height: 47.8em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logInForm,
.signUpForm,
.editForm{
    width: 100%;
    text-align: center;
}

.logIn input,
.signUp input,
.editProfile input{
    width: 90%;
    padding: 0.9em;
    margin: 1.5em 0.5em;
}

input:hover{
    border: solid 2px black;
    border-radius:0.3em;
}

.signUp p,
.logIn p,
.editProfile p{
    text-align: center;
    font-size: 1.5em;
}

/****************
    PROFILE
*****************/

.profileContainer{
    display: flex;
    justify-content: space-between;
    border: #156717 1px solid;
    width: 65%;
    padding: 6em;
    border-radius: 0.8em;
    background-color: lightgray;
}

.profileHead div,
.profileHead p,
.profileData{
    text-align: center;
}

.links{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.links a{
    padding: 1em 1.5em;
    background-color: #7aba81;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 0.3em;
}

.links a:hover{
    background-color: #4ab554;
}

.profileData p{
    font-size: x-large;
    text-align: center;
}

.profileHead{
    width: 30%;
}

.profileHead img{
    border-radius: 1em;
}

.profileData{
    width: 65%;
}

/**************
    EDITPAGE
***************/

.editForm button[type="submit"] {
    background-color: #4caf50;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 1em 1.5em;
    border-radius: 0.3em;
}

.editForm button[type="submit"]:hover {
    background-color: #17b317;
}

.back {
    text-align: left;
    margin-top: 2em;
}

.back button{
    padding: 0.5em 0.7em;
}
/**************
    DELETE
***************/

.deleteForm button[type="submit"] {
    padding: 0.5em 1em ;
    border-radius: 0.3em;
}

.deleteForm form{
    display: flex;
    justify-content: space-evenly;
}

/**************
    MAIN
***************/

.container{
    margin: auto;
    width: 90%;
}

.text{
    display: flex;
    justify-content: space-between;
}

aside{
    margin-top: 1em;
}

aside img{
    width: 100%;
}

article{
    width: 48%;
    margin-top: 1em;
    height: auto;
    background-color: #F0EFED;
    border-radius: 10px;
    font-family: serif;
    font-size: 1.1em;
}

article p,
article h1{
    margin: 0.7em;
}

/**************
    ABOUT ME
***************/

.aboutMe{
    text-align: center;
    padding: 5em 0 3em 0;
}

.myImg img{
    border-radius: 20px;
    margin-bottom: 4em;
}

.myInfo{
    margin-bottom: 2em;
    font-size: 1.2em;
}

.myInfo p{
    text-align: center;
}

/**************
    GALLERY
***************/
.selected{
    background-color: #426e49;
    color: white;
}

.images{
    min-height: 600px;
}

.season{
    margin: 1.5em 0 0.5em;
    display: flex;
    justify-content: center;
}

.season ul{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.season li{
    border-radius: 3px;
    color: black;
    font-size: 1em;
    list-style: none;

}

.season a{
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 3px;
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}

.season a:hover{
    background-color: #426e49;
    color: #ffffff;
}

.springImg,
.summerImg,
.autumnImg,
.winterImg{
    text-align: center;
    padding-top: 1em;
}

.commentSection {
    margin-top: 4em;
}

/********************

*media queries

*********************/

@media screen and (min-width: 900px) {

    .springImg img,
    .summerImg img,
    .autumnImg img,
    .winterImg img{
        width: 49.5%;
    }

}

@media screen and (max-width: 900px) {

    .text{
        flex-flow: column;
    }
    .prvy{
        width: 100%;
    }

}

@media screen and (max-width: 695px) {

    .navigation li {
        font-size: 0.95em;
    }

}
